<%- include("header") -%> 

<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium sapiente corrupti debitis facilis, exercitationem velit nemo dignissimos sed officiis alias odio asperiores doloribus nesciunt illo tempore repudiandae, animi optio saepe!</p>


<%- include("footer") %> 